@model List<Produto>

<form method="post" asp-action="CadastrarT">
    <div class="form-group">
        <label for="ProdutoId">Produto</label>
        <select name="produtoId" class="form-control" id="produto">
            @foreach (var produto in Model)
            {
                <option value="@produto.ProdutoId">@produto.Nome</option>
            }
        </select>

    </div>
    <div class="form-group">
        <label for="Quantidade">Quantidade</label>
        <input name="Quantidade" class="form-control" />
        
    </div>
    <button type="submit" class="btn btn-primary">Adicionar ao Estoque</button>
</form>
